<%- include("partials/header.ejs") %>

<h1>Edit Comment</h1>
<form action="/campgrounds/<%= campground._id %>/comment/<%= comment._id %>?_method=PUT" method="POST">

<input type="text" value="<%= comment.comment %>" name="comment[comment]">
<button type="submit">Submit</button>
</form>

<%- include("partials/footer.ejs") %>